#para{
    color: aqua;
    }
    body{
        background-image:url(https://i.pinimg.com/originals/b7/7f/75/b77f7526d128c43854e89ffe22e1f4b6.jpg);
        background-repeat:no-repeat;
        background-size:cover;
    }